<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Fermer la fenêtre" (click)="modalAide.hide()"><span
    aria-hidden="true">×</span></button>
  <h2 class="modal-title" id="labelPopinHelp">Aide sur «&nbsp;Mon journal de recherche d'emploi&nbsp;»</h2>
</div>
<div class="modal-body">
  <div class="help-heading">
    <span class="help-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur iure laboriosam soluta sunt unde voluptatem.</span>
  </div>

  <br/>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto in iure sed tempore. Aperiam
    consequuntur dicta dignissimos eligendi excepturi fuga hic ipsum laudantium mollitia nam natus nihil nostrum
    pariatur reiciendis, rem reprehenderit sequi tenetur voluptatibus? Alias consequuntur doloribus nihil quasi
    reiciendis sed sint unde voluptate. Amet assumenda at beatae consectetur corporis delectus eius esse est excepturi
    expedita harum ipsam iste, itaque libero magnam magni minima natus necessitatibus nesciunt odit omnis quae quas
    quidem saepe sunt tempore temporibus unde veritatis voluptate voluptates! Accusamus adipisci, amet animi aperiam aut
    commodi consequatur cupiditate deserunt dignissimos earum et fuga ipsum iure iusto magnam nesciunt nisi nobis quod
    ratione, rem repellat sequi voluptatibus! Ab amet aperiam asperiores atque.</p>
</div>
<div class="modal-footer">
  <button #boutonFermer type="button" class="btn btn-default" data-dismiss="modal" (click)="modalAide.hide()">Fermer
  </button>
</div>
