<nav class="navbar navbar-expand-md navbar-light bg-light navbar-default">
   <a class="navbar-brand" href="#">MonDressing</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="fab fa-fort-awesome"></i> Dressing
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#"><i class="fas fa-eye"></i> Tous mes vêtements</a>
               <a class="dropdown-item" href="#">&nbsp;<i class="fas fa-female"></i>&nbsp; Mes tenues</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#"><i class="fas fa-eye"></i> Par caractéristique</a>
               <a class="dropdown-item" href="#"><i class="fas fa-palette"></i> Par couleur</a>
               <a class="dropdown-item" href="#"><i class="fas fa-tshirt"></i> Par catégorie</a>
               <a class="dropdown-item" href="#"><i class="fas fa-tag"></i> Par marque</a>
               <a class="dropdown-item" href="#"><i class="fas fa-cocktail"></i> Par occasion</a>
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-plus-circle"></i> Modifications
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#"><i class="fas fa-tshirt"></i> Ajouter un vêtement</a>
               <a class="dropdown-item" href="#">&nbsp;<i class="fas fa-female 3x"></i>&nbsp; Ajouter une tenue</a>
            </div>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-cloud-sun"></i> Météo</a>
         </li>
      </ul>
   </div>
   <a class="navbar-brand" href="#" id="paw"><i class="fas fa-paw"></i></a>
</nav>