.btn-outline-light{
   color: #4DE8BE !important;
   border-color: #4DE8BE !important;
}
.modal-body img{
   display: block;
   margin: 0px auto 20px;
}
h4{
   font-weight: bold;
}
span.gs{
   font-weight: bold;
   text-decoration: underline;
}