<!-- <div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Hello, {{name}}!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->
<div class="modal-header">
  <h4 class="modal-title">Nom du vetement</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img src="assets/pictures/tshirt.png" alt="" class="d-flex align-items-center" [style.max-width.px]="200"
    [style.max-height.px]="125">
  <p><span class="gs">Couleur(s) :</span><br>Bleu, Beige, Blanc</p>
  <p><span class="gs">Marque :</span><br>Esprit</p>
  <p><span class="gs">Caractéristique(s) :</span><br>Ample, Chaud, Manches longues </p>
  <p><span class="gs">Occasion(s) :</span><br>Décontractée, Soirée, Travail </p>
  <p><span class="gs">Catégorie :</span><br>Blouse </p>
  <p><span class="gs">Description :</span><br>Blouse à manches longues de la marque esprit quadrillée bleu beige marron.
    Plutôt chaud.</p>
  <p><span class="gs">Note :</span><br>4</p>
</div>

<div class="modal-footer justify-content-between">
  <div class="row">
    <div class="col-6 col-md-4">
      <button type="button" class="btn btn-outline-warning" (click)="onEdit()">Modifier</button>
    </div>
    <div class="col-6 col-md-4">
      <button type="button" class="btn btn-outline-danger" (click)="onDelete()">Supprimer</button>
    </div>
    <div class="col-12 col-md-4">
      <button type="button" class="btn btn-outline-light" (click)="activeModal.close('Close click')">Fermer</button>
    </div>
  </div>
</div>
