<ul class="list-timeline list-unstyled">
  <ng-container *ngIf="chargementEnCours">
    <li *ngFor="let skeleton of skeletonIterator" class="date-skeleton">
      <div class="timeline-date skeleton"><span></span></div>
      <ul class="list-block-action list-unstyled">
        <li class="block-action skeleton">
          <div class="block-action-card">
            <div class="media">
              <div class="media-left media-middle">
                <div class="img-container"></div>
              </div>
              <div class="media-body media-middle"><h3 class="t5"></h3>
                <div class="small"></div>
              </div>
              <div class="media-right media-middle"></div>
            </div>
            <div class="action"><span class="control-label"></span>
              <div class="btn btn-default btn-xs"></div>
              <div class="btn btn-default btn-xs"></div>
            </div>
            <div class="btn btn-default btn-icon-only"></div>
          </div>
        </li>
      </ul>
    </li>
  </ng-container>
  <ng-container *ngIf="!chargementEnCours && !hasErreur">

    <li *ngFor="let jourTimeline of timeline.jours" [ngClass]="{'tomorrow': jourTimeline.isFutur(), 'today': jourTimeline.isAujourdhui(), 'past': jourTimeline.isPasse() && !jourTimeline.hasEcheanceDepasse(), 'yesterday': jourTimeline.isPasse() && jourTimeline.hasEcheanceDepasse()}">
      <h2 class="timeline-date">
        <span class="date" *ngIf="!jourTimeline.isAujourdhui()">{{jourTimeline.date | date:'EEEE dd LLLL':undefined:'fr'}}</span>
        <span class="date" *ngIf="jourTimeline.isAujourdhui()">Aujourd'hui</span>
        <span class="badge" *ngIf="jourTimeline.isAujourdhui()">{{jourTimeline.date | date:'EEEE dd LLLL':undefined:'fr'}}</span>
      </h2>

      <ul class="list-block-action list-unstyled">
        <ng-container *ngFor="let demarche of jourTimeline.demarches">
          <li class="block-action obligatory" [ngClass]="getClassEcheance(demarche) + ' ' + getClassEcheanceDepassee(demarche) + ' ' + getClassEtatDemarche(demarche)">
            <div *ngIf="demarche.echeanceDepassee" class="onglet">Échéance dépassée</div>
            <a class="block-action-card"
                                                  data-target="#PopinAction" data-toggle="modal"
                                                  (click)="openModalVoletJournal()"
                                                  role="button"
                                                  title="Voir le détail de '{{demarche.libelleLong}}'">
            <div class="media">
              <div class="media-left media-middle">
                <div class="img-container"><img alt="" [src]="'assets/img/ico-'+getClassEcheance(demarche)+'.svg'"></div>
              </div>
              <div class="media-body media-middle"><h3 class="t5">{{demarche.libelleLong}}</h3>
              <!--<div class="small">Aucun métier ou projet associé</div>-->
              </div>
              <div *ngIf="demarche.origineCreateur==='CONSEILLER'" class="media-right media-middle">
                <div class="badge">Convenu avec mon conseiller</div>
              </div>
            </div>
          </a>
            <div class="action">
              <div class="state" *ngIf="demarche.etat.code === 'RE'">
                <div class="state-icon">
                  <span aria-hidden="true" class="icon-check"></span>
                </div>
                <span class="sr-only">Démarche </span>
                <strong>Fait<span class="sr-only">e</span></strong>
              </div>

              <div class="state" *ngIf="demarche.etat.code === 'AN'">
                <div class="state-icon"><span aria-hidden="true"
                                              class="icon-close"></span></div>
                <span class="sr-only">Démarche </span><strong>Annulé<span
                class="sr-only">e</span></strong>
              </div>

              <div *ngIf="jourTimeline.isAujourdhui() && demarche.etat.code === 'EC'" class="state">
                <div class="state-icon">
                  <span aria-hidden="true" class="icon-clock"></span>
                </div>
                <span class="sr-only">Démarche </span>
                <ng-container *ngIf="demarche.debut"> En cours du {{demarche.debut | date:'dd/LL':undefined:'fr'}} au {{demarche.fin | date:'dd/LL':undefined:'fr'}} </ng-container>
                <ng-container *ngIf="!demarche.debut">À faire avant le {{demarche.fin | date:'dd/LL':undefined:'fr'}} </ng-container>
              </div>

              <ng-container *ngIf="isAffichageLAvezVousFait(demarche)">
                <span class="control-label">L'avez-vous fait ?</span>
                <button class="btn btn-default btn-xs" type="button">Oui<span
                  class="sr-only">, j'ai fait l'action "{{demarche.libelleLong}}"</span>
                </button>
                <ng-container *ngIf="isAffichageBoutonNon(demarche) && !jourTimeline.isFutur()">
                  <button class="btn btn-default btn-xs" type="button">Non<span
                    class="sr-only">, je ne veux plus faire l'action "{{demarche.libelleLong}}"</span>
                  </button>
                </ng-container>
              </ng-container>
            </div>
            <ng-container *ngIf="isDemarcheModifiable(demarche)">
              <a class="btn btn-default btn-icon-only" data-original-title="Modifier" data-placement="top"
                 data-tooltip="" href="#" role="button"><span aria-hidden="true"
                                                              class="icon-pen"></span><span class="sr-only">Modifier "{{demarche.libelleLong}}"</span></a>
            </ng-container>
            <ng-container *ngIf="isAffichageMessageNonModifiable(demarche)">
              <div class="action">
                <div class="state">Cette démarche est non modifiable</div>
              </div>
              <div class="btn btn-default btn-icon-only disabled"
                   data-original-title="Démarche non modifiable" data-placement="top" data-tooltip="" role="button"><span
                aria-hidden="true" class="icon-pen"></span><span class="sr-only">Modifier "{{demarche.libelleLong}}"</span>
              </div>
            </ng-container>
          </li>

        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>
<div class="text-center" *ngIf="!chargementEnCours && !hasErreur">
  <button class="btn btn-default" title="Afficher plus de démarches passées" type="button">Afficher
    plus
  </button>
</div>

<app-indisponibilite-partielle *ngIf="hasErreur"></app-indisponibilite-partielle>
