<div class="alert alert-warning"><p>Vous avez des démarches dont l’échéance est
  dépassée&nbsp;:</p>
  <ul>
    <li>J'effectue des tests de recrutement le <a class="text-link" href="#echeance"
                                                  title="Aller à la démarche du 24 avril 2019">24 avril
      2019</a></li>
    <li>Identifier mes points forts et mes compétences avec un bilan de compétences le <a
      class="text-link" href="#echeance" title="Aller à la démarche du 24 avril 2019">24 avril 2019</a>
    </li>
    <li>Je recherche les entreprises qui recrutent sur La Bonne Boite le <a class="text-link"
                                                                            href="#echeance"
                                                                            title="Aller à la démarche du 24 avril 2019">24
      avril 2019</a></li>
  </ul>
</div>
