/* You can add global styles to this file, and also import other style files */

/* import du CSS bootstrap sur toutes mes pages */
@import'~bootstrap/dist/css/bootstrap.min.css';
*{
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
   font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Cutive Mono', monospace;
}